*{margin: 0;padding: 0;font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;box-sizing: border-box;}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 80px;
    border-bottom:1px solid #9fa2b3;
    
}

 .logo img{height: 36px;}
 .logo{margin-left: 4%;}

 .action-bar{margin-right: 4%;font-size: 12px;
    font-weight: 700;color: #000;}

 .nav-bar{display:flex;justify-content: space-evenly;min-width: 500px ;}
 .nav-bar a {text-decoration: none;font-size: 14px;
    letter-spacing: .3px; ;padding: 25px 0px;
    color: #282c3f;font-weight: 700;border: 5px solid white;}
.nav-bar a sup {color: #ff3f6c;font-weight: 600;font-size: 10px;}
.nav-bar a:hover{border-bottom: 5px solid#ff3f6c;}

.search-bar{display: flex;background-color: #f5f5f6;height: 40px;align-items: center;border: none;border-radius: 5px;min-width: 200px;width: 30%;}
.search-bar input {background-color: #f5f5f6;border: none;flex-grow: 1;}
.material-symbols-outlined{height: 20px;color:#282c3f;padding:0px 10px;}

.action-bar{display: flex;min-width: 200px;justify-content: space-around;}
.action-container{display: flex;flex-direction: column;align-items: center;}



                        /*Main section*/


.banner-image{width: 100%;}   
.banner{margin: 40px 0px;}        

.cat-heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0px 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.cat-items{display: flex;flex-wrap: wrap;justify-content: center;}
.offerimg{width: 250px;}








.footer-container{padding: 30px 0px 40px 0px;
                 background-color:#FAFBFC ;display: flex;   flex-direction: column;                
}
.footer-container a {text-decoration: none;
padding-bottom: 5px; font-size: 15px;color:#696b79 ;}
.footer-container h3{color: #282c3f;font-size: 14px;margin-bottom: 25px;}

.footer {display: flex;justify-content: space-around;}
.copyright{color: #94969f; text-align: end;padding: 15px;}